sources:
  ru:
    url: http://google.com
    mappings:
      mappings:
        gn: ge
        lv: le
        nm: nu
        dt: de
        jgs: jud
        1sm: 1ki
        2sm: 2ki
        1kgs: 3ki
        2kgs: 4ki
        1chr: 1ch
        2chr: 2ch
        neh: ne
        tb: tob
        est: es
        1mc: 1ma
        2mc: 2ma
        jb: job
        prv: pr
        eccl: ec
        sg: so
        is: isa
        lam: la
        ez: ezr
        dn: da
        hos: ho
        jl: joe
        mi: mic
        hb: hab
        zep: sof
        hg: hag
        mk: mr
        lk: lu
        jn: joh
        acts: ac
        rom: ro
        1cor: 1co
        2cor: 2co
        gal: ga
        phil: php
        1thes: 1th
        2thes: 2th
        1tm: 1ti
        2tm: 2ti
        ti: tit
        phlm: phm
        1pt: 1pe
        2pt: 2pe
        1jn: 1jo
        2jn: 2jo
        3jn: 3jo
        rev: re
